/* Main */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    background: #F6F9FC;
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.section-header {
    display: block;
    margin: 64px 0 0;
    position: relative;
    text-align: center;
}

.section-header h1 {
    color: #212121;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding: 0 0 24px;
    position: relative;
    z-index: 2;
}

.section-header h1:after {
    background: #E6E9EC;
    bottom: 0;
    border-radius: 1px;
    content: "";
    display: block;
    height: 3px;
    left: 20%;
    position: absolute;
    right: 20%;
    width: auto;
    z-index: 1;
}

section {
    padding-bottom: 192px;
    overflow: hidden;
    position: relative;
}

a,a:link,a:visited {
    color: #212121;
    text-decoration: none;
}

.micro-slider {
    height: 480px;
    margin: 64px 0;
    position: relative;
    width: 100%;
}

.micro-slider.fullwidth {
    height: 480px;
    margin: 64px 0;
}

.micro-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
}

.slider-item {
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    color: #FFF;
    display: none;
    font-size: 72px;
    height: 320px;
    line-height: 320px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 320px;
}

.slider-item:not(.active) {
    cursor: pointer;
}

.indicators {
    bottom: -64px;
    left: 50%;
    list-style-type: none;
    margin: 0 0 0 -77px;
    padding: 0;
    position: absolute;
}

.indicators li {
    color: #FFF;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.indicators li:last-child {
    margin: 0;
}

.indicators a {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #E6E9EC;
    color: #FFF;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
    background: #E6E9EC;
}

.s1 {
    background: #3f51b5;
}

.s2 {
    background: #448aff;
}

.s3 {
    background: #03a9f4;
}

.s4 {
    background: #00bcd4;
}

.s5 {
    background: #009688;
}

.s6 {
    background: #4caf50;
}